<!DOCTYPE html>
<html>
    <head>
        <title>Example 2</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script>
            $(function(){
                var selectedImgsArr = [];
                $("img").click(function() {

                    if ($(this).hasClass("selected")) {
                        $(this).removeClass("selected")
                        $(this).css({"border": "10px solid white", "border-radius": ""});
                        //remove currently selected element from array... (filter() may not work for internet explorer <9)
                        selectedImgsArr = selectedImgsArr.filter((element) => { return element !== $(this).attr("src")});
                    } else {
                        $(this).addClass("selected")
                        $(this).css({"border": "10px solid aquamarine", "border-radius": "10px"});
                        selectedImgsArr.push($(this).attr("src"));
                    }
                    //alert(selectedImgsArr);
                    //console.log(selectedImgsArr);
                })
                $("button").click(function() {
                    if (selectedImgsArr.length <= 0) {
                        alert("No photos selected");
                    } else {
                        const post_url = "https://localhost:3443/nfts"
                        const options = {
                            token: "<%= token %>",
                            urls: selectedImgsArr
                        }
                        console.log(options.token);
                        axios.post(post_url, options)
                        .then(response => {
                            alert(response);
                        }).catch(err => {
                            console.log(err);
                        })
                        //alert("attempted to submit: " + selectedImgsArr);
                    }
                    return true;
                });
            });
        </script>
        <style>
            .wrapper{
                display:grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap:1em;
                justify-items: center;
                align-items: center;
            }
            .image{
                border: 10px solid white;
            }
        </style>
    </head>
    <body>
        <h1>Select the photos you want to mint as NFT</h1>
        <h2><%= token %></h2>
        <div class="wrapper">
            <% if (data.data.length > 0) { %>
                <% data.data.forEach( datum => { %>
                        <div>
                            <!--<p><%= datum.media_url %></p>-->
                            <img class="image" src=<%= datum.media_url %> width="256" height="256">
                        </div>
                <% }) %>
            <% } %>
        </div>
        <button>Submit</button>
    </body>
</html>
