<!DOCTYPE html>
<html>
    <head>
        <title>Example 2</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script>
            $(function(){
                $("img").click(function() {
                    alert("clicked but doing nothing");
                })
                $("button").click(function() {
                    alert("button clicked do nothing");
                });
            });
        </script>
        <style>
            .wrapper{
                display:grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap:1em;
                justify-items: center;
                align-items: center;
            }
            .image{
                border: 10px solid white;
            }
        </style>
    </head>
    <body>
        <h1><%= username %></h1>
        <h2>placeholder subheader text</h2>
        <div class="wrapper">
            <% if (content_owned.length > 0) { %>
                <% content_owned.forEach( content => { %>
                        <div>
                            <!--<p><%= content.src %></p>-->
                            <img class="image" src=<%= content.src %> width="256" height="256">
                        </div>
                <% }) %>
            <% } %>
        </div>
        <button>Do nothing</button>
    </body>
</html>